* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url(/resources/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 70px;
  padding-right: 70px;
  font-family: 'Be Vietnam Pro';
}

header {
  padding: 20px 0px 44px 0px;
}